/* Css Reset by Eric Meyer */
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
/* clearfix */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
/* start commented backslash hack */
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
/* close commented backslash hack */
/*.conceal {
  border-color: transparent transparent #aaa transparent; top: 9px;
}

.reveal {
  position: absolute;
  content: '';
  display: block;
  top: 12px;
  right: 6px;
  border-color: #aaa transparent transparent transparent;
  border-style: solid;
  border-width: 3px;
  width: 0;
  height: 0;        
}*/
.wtf {
  outline: 2px solid red;
}
div#meh:hover {
  cursor: pointer;
}
div#meh {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10000;
  pointer-events: none;
}
div#meh .button {
  opacity: 1;
  color: #fff;
  font-weight: bold;
  font-style: normal;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.8), 0px 0px 15px rgba(0, 0, 0, 0.8);
  padding: 16px;
  display: block;
  text-align: center;
  font-size: 20px;
}
div#meh > div#help_overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50000;
  background: white;
  pointer-events: auto;
}
div#meh > div#help,
div#meh > div#toggle {
  position: absolute;
  bottom: 0px;
  right: 0px;
  pointer-events: auto;
}
div#meh > div#locate {
  position: absolute;
  bottom: 0px;
  left: 0px;
  pointer-events: auto;
}
div#meh > div#bright_switch {
  width: 36px;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 8px 8px 8px 9px;
  background-color: rgba(140, 140, 140, 0.6);
  pointer-events: auto;
}
div#meh > div#bright_switch div {
  width: 36px;
  height: 36px;
  position: relative;
  z-index: 99;
}
div#meh > div#bright_switch div#a {
  background: #000000 url(/data/modes_bg.png) 0 0;
}
div#meh > div#bright_switch div#b {
  background: #808080 url(/data/modes_bg.png) 0 144px;
}
div#meh > div#bright_switch div#c {
  background: #cccccc url(/data/modes_bg.png) 0 72px;
}
div#meh > div#bright_switch div.selected {
  z-index: 100;
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 2px #333333;
}
div#meh #progress {
  z-index: 20000;
  position: absolute;
  bottom: 60px;
  left: 10%;
  right: 10%;
  color: #eee;
  background: rgba(90, 90, 90, 0.7);
}
div#meh #progress .message {
  position: absolute;
  left: 8px;
  top: 8px;
  font-size: 18px;
  z-index: 99999;
  text-shadow: 0px 2px 2px #000, 0px 0px 12px #000;
}
div#meh #progress .wrap {
  position: relative;
}
div#meh #progress .bar {
  height: 36px;
  background: #fff;
}
div.leaflet-control-attribution {
  display: none !important;
}
div.leaflet-control-zoom {
  background: none;
}
div.leaflet-control-zoom > a {
  width: 32px !important;
  background: rgba(140, 140, 140, 0.5);
  border-radius: 0;
  color: #fff;
  opacity: 1 !important;
  text-decoration: none;
  font-size: 20px;
  padding: 12px 4px 12px 4px;
  text-align: center;
  text-shadow: 0px 2px 2px #000;
}
div.leaflet-control-zoom > a:active,
div.leaflet-control-zoom a:hover {
  background: #333;
}
.leaflet-popup-content {
  line-height: 1.6em !important;
}
.leaflet-container .leaflet-control-attribution {
  font: 9px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif !important;
}
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: rgba(255, 255, 255, 0.85) !important;
  -webkit-box-shadow: 0 1px 14px rgba(0, 0, 0, 0.5) !important;
  box-shadow: 0 1px 14px rgba(0, 0, 0, 0.5) !important;
}
.leaflet-popup-content {
  padding: 0 !important;
}
.leaflet-container .leaflet-control-attribution {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.leaflet-popup-content-wrapper {
  -webkit-border-radius: 4px !important;
  border-radius: 0 !important;
  padding: 0px 0 4px 0 !important;
}
.leaflet-popup-content-wrapper div.venue {
  position: relative;
  top: 8px;
  margin-left: -12px;
  margin-right: -12px;
  padding-left: 16px;
}
.leaflet-popup-content-wrapper div.venue b {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
  display: block;
  width: 8px;
  content: '';
  height: 8px;
  position: absolute;
  left: 0;
  top: 5px;
  padding: 0 !important;
}
.leaflet-popup-content-wrapper div.venue a {
  color: #333;
}
.leaflet-popup-content-wrapper div.venue em {
  color: #666 !important;
  font-style: normal;
  padding-left: 3px;
}
.leaflet-popup-content-wrapper div.postcodes {
  position: absolute;
  bottom: 16px;
  right: 4px;
  color: #666;
  font-size: 9px;
}
.leaflet-popup-content-wrapper div.others {
  color: #666;
  text-transform: uppercase;
  position: absolute;
  bottom: 16px;
  left: 0px;
  right: 0;
  font-size: 9px;
  text-align: center;
}
body {
  font-family: Helvetica, Verdana, Sans;
  padding: 0;
  margin: 0 auto;
  width: 800px;
  color: #333;
}
#intro {
  width: 800px;
}
#about {
  width: 600px;
  margin: 0 auto;
}
#about {
  color: #505050;
}
#about .dot {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin-left: 4px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
}
#about .red {
  background: #f00;
}
#about .blue {
  background: #00f;
}
#about .green {
  background: #0f0;
}
#about .gray {
  background: #ccc;
}
.button.icon-resize-full-1 {
  display: block !important;
}
.button.icon-resize-small-1 {
  display: none !important;
}
body.fullscreen {
  width: 100%;
}
body.fullscreen #container {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
}
body.fullscreen #about,
body.fullscreen #intro,
body.fullscreen #attribution {
  display: none;
}
body.fullscreen .button.icon-resize-full-1 {
  display: none !important;
}
body.fullscreen .button.icon-resize-small-1 {
  display: block !important;
}
body.fullscreen #help_overlay {
  font-size: 12px;
}
body.fullscreen #help_overlay h2,
body.fullscreen #help_overlay p {
  padding-left: 8px;
}
#container {
  position: relative;
  margin: 34px auto 24px;
  height: 400px;
  width: 800px;
  z-index: 9;
}
#map {
  height: 100%;
  z-index: 9;
  display: block;
}
div#attribution {
  margin-top: 4px;
  color: #999;
  font-size: 12px;
  text-align: right;
}
div#attribution a {
  color: #889;
  text-decoration: none;
}
a {
  color: #99f;
}
h1 {
  font-size: 36px;
  margin-top: 20px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 0px 40px rgba(0, 0, 0, 0.15);
  text-align: center;
}
h2 {
  margin-top: 12px;
  margin-bottom: -2px;
}
p {
  line-height: 1.6em;
  margin-top: 8px;
  margin-bottom: 8px;
}
.foursquareauth {
  margin: 2em;
}
.foursquareauth p {
  font-weight: lighter;
}
.reload {
  display: none;
  position: absolute;
  z-index: 10000;
  left: 8px;
  bottom: 8px;
  background: rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 4px;
}
.reload button {
  margin: 4px;
  font-size: 1.2em;
  border: 0;
  font-weight: bold;
  color: #333;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 4px;
}
