/* Css Reset by Eric Meyer */
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
/* clearfix */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
/* start commented backslash hack */
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
/* close commented backslash hack */
/*.conceal {
  border-color: transparent transparent #aaa transparent; top: 9px;
}

.reveal {
  position: absolute;
  content: '';
  display: block;
  top: 12px;
  right: 6px;
  border-color: #aaa transparent transparent transparent;
  border-style: solid;
  border-width: 3px;
  width: 0;
  height: 0;        
}*/
.wtf {
  outline: 2px solid red;
}
div#meh {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10000;
  pointer-events: none;
}
div#meh .button {
  opacity: 1;
  color: #fff;
  font-weight: bold;
  font-style: normal;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.8), 0px 0px 15px rgba(0, 0, 0, 0.8);
  padding: 16px;
  display: block;
  text-align: center;
  font-size: 20px;
}
div#meh > div#help {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
div#meh > div#locate {
  position: absolute;
  bottom: 0px;
  left: 0px;
  pointer-events: auto;
}
div#meh > div#bright_switch {
  width: 36px;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 8px 8px 8px 9px;
  background-color: rgba(140, 140, 140, 0.6);
  pointer-events: auto;
}
div#meh > div#bright_switch div {
  width: 36px;
  height: 36px;
  position: relative;
  z-index: 99;
}
div#meh > div#bright_switch div#a {
  background: black;
}
div#meh > div#bright_switch div#b {
  background: gray;
}
div#meh > div#bright_switch div#c {
  background: #ccc;
}
div#meh > div#bright_switch div.selected {
  z-index: 100;
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 2px #333333;
}
div#meh #progress {
  z-index: 20000;
  position: absolute;
  bottom: 20px;
  left: 10%;
  right: 10%;
  color: #eee;
  background: rgba(90, 90, 90, 0.7);
}
div#meh #progress .message {
  padding: 12px 12px 4px 23px;
  text-shadow: 0px 2px 2px #000;
}
div#meh #progress .wrap {
  position: relative;
}
div#meh #progress .bar {
  height: 16px;
  background: #fff;
}
div.leaflet-control-attribution {
  display: none !important;
}
div.leaflet-control-zoom {
  background: none;
}
div.leaflet-control-zoom > a {
  width: 32px !important;
  background: rgba(140, 140, 140, 0.5);
  border-radius: 0;
  color: #fff;
  opacity: 1 !important;
  text-decoration: none;
  font-size: 20px;
  padding: 12px 4px 12px 4px;
  text-align: center;
  text-shadow: 0px 2px 2px #000;
}
div.leaflet-control-zoom > a:active,
div.leaflet-control-zoom a:hover {
  background: #333;
}
.leaflet-popup-content {
  line-height: 1.6em !important;
}
.leaflet-container .leaflet-control-attribution {
  font: 9px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif !important;
}
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: rgba(255, 255, 255, 0.8) !important;
  -webkit-box-shadow: 0 1px 14px rgba(0, 0, 0, 0.5) !important;
  box-shadow: 0 1px 14px rgba(0, 0, 0, 0.5) !important;
}
.leaflet-popup-content {
  padding: 0 !important;
}
.leaflet-container .leaflet-control-attribution {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.leaflet-popup-content-wrapper {
  -webkit-border-radius: 4px !important;
  border-radius: 0 !important;
  padding: 0px 0 1px 0 !important;
}
.leaflet-popup-content-wrapper div.venue {
  position: relative;
  top: 8px;
  margin-left: -12px;
  margin-right: -12px;
  padding-left: 16px;
}
.leaflet-popup-content-wrapper div.venue b {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: block;
  width: 8px;
  content: '';
  height: 8px;
  position: absolute;
  left: 0;
  top: 4px;
  padding: 0 !important;
}
.leaflet-popup-content-wrapper div.venue a {
  color: #333;
}
.leaflet-popup-content-wrapper div.venue em {
  padding-left: 2px;
}
.leaflet-popup-content-wrapper div.postcodes {
  position: absolute;
  bottom: -2px;
  right: 2px;
  color: #ddd;
  font-size: 10px;
  text-shadow: 0px 2px 2px #000;
}
.leaflet-popup-content-wrapper div.others {
  color: #ddd;
  text-shadow: 0px 2px 2px #000;
  position: absolute;
  bottom: -2px;
  left: 2px;
  font-size: 10px;
}
canvas {
  opacity: 0.8;
}
#canvas canvas {
  opacity: 0.6;
}
em {
  color: #777;
  font-style: normal;
}
body {
  font-family: "Helvetica Neue", Sans;
  padding: 0;
  margin: 0;
  line-height: 3.4em;
}
html,
body,
#map,
#canvas canvas {
  height: 100%;
}
#canvas canvas {
  position: absolute;
  z-index: 10;
  display: block;
  pointer-events: none;
}
#map {
  z-index: 9;
  display: block;
}
.foursquareauth {
  margin: 2em;
}
.foursquareauth p {
  font-weight: lighter;
}
a {
  color: #99f;
}
h1 {
  font-size: 2em;
  font-weight: lighter;
  padding-bottom: 12px;
}
.reload {
  display: none;
  position: absolute;
  z-index: 10000;
  left: 8px;
  bottom: 8px;
  background: rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 4px;
}
.reload button {
  margin: 4px;
  font-size: 1.2em;
  border: 0;
  font-weight: bold;
  color: #333;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 4px;
}
