@import "../base/less/_reset";
@import "../base/less/_utils";

@import "../data/shared";  
 

body {
  font-family: "Helvetica Neue", Helvetica, Sans;
  padding: 0;
  margin: 0 auto;
  width: 800px;
  color: #333;
}

#about, #intro {
  width: 600px;
  margin: 0 auto;
}

#about {
  color: #505050;

  .dot {
    display: inline-block;
    height: 12px;
    width: 12px;
    
    margin-left: 4px;
    // padding: 0 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
  }
  .red {
    background: red;
  }
  .blue {
    background: blue;
  }
  .green {
    background: green;
  }
  .gray {
    background: gray;
  }
}

#container {
  position: relative;
  margin: 24px auto;
  height: 400px;
  width: 800px;
  z-index: 9;

}

#map {
  height: 100%;
  z-index: 9; 
  display: block; 
}


a {
  color: #99f;
}

h1 {
  font-size: 24px;
  margin-top: 18px;
  // text-align: center;
	// font-size: 2em;
	// font-weight: lighter;
	// padding-bottom: 12px;
}

h2 {
  margin-top: 12px;
  margin-bottom: -2px;
}

p {
  line-height: 1.6em;
  margin-top: 8px;
  margin-bottom: 8px;
}





.foursquareauth {
  margin: 2em;
  p {
   font-weight: lighter;
  }
}


.reload {
  display: none;
  position: absolute; 
  z-index: 10000; 
  left: 8px; 
  bottom: 8px;     
  background: rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 4px;
}
 
.reload button {
  margin: 4px;
  font-size: 1.2em;
  border: 0;
  font-weight: bold;
  color: #333;
  text-align: center;
  background: rgba(255,255,255,0.8);
  -webkit-border-radius: 4px;
}

