@import "../base/less/_reset";
@import "../base/less/_utils";

@import "../data/shared";

canvas {
  opacity: 0.8; 
}

#canvas canvas {
  opacity: 0.6;
}

em {
  color: #777;
  font-style: normal;
}

body {
  font-family: "Helvetica Neue", Sans;
  padding: 0;
  margin: 0;
  line-height: 3.4em;
}

html, body, #map, #canvas canvas {
  height: 100%;
}

#canvas canvas {
  position: absolute;
  z-index: 10;
  display: block;
  pointer-events: none;
}

#map {
  z-index: 9;
  display: block; 
}

.foursquareauth {
	margin: 2em;
	p {
	 font-weight: lighter;
	}
}

a {
  color: #99f;
}

h1 {
	font-size: 2em;
	font-weight: lighter;
	padding-bottom: 12px;
}

.leaflet-popup-content {
	line-height: 1.6em !important;
}

.leaflet-container .leaflet-control-attribution {
  font: 9px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif !important;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background-color: rgba(255,255,255,0.8) !important;
  -webkit-box-shadow: 0 1px 14px rgba(0,0,0,0.5) !important;
  box-shadow: 0 1px 14px rgba(0,0,0,0.5) !important;
}

.leaflet-popup-content {
  padding: 0 !important;
}

.leaflet-container .leaflet-control-attribution {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.leaflet-popup-content-wrapper {
  -webkit-border-radius: 4px !important;
  border-radius: 0 !important;
  padding: 0px 0 1px 0 !important;

  div.venue {
    position: relative;
    top: 8px;
    margin-left: -12px;
    margin-right: -12px;
    padding-left: 16px;
    // background: white;
    b  {
      border: 1px solid rgba(0,0,0,0.3);
      display: block;
      width: 8px;
      content: '';
      height: 8px;
      position: absolute;
      left: 0;
      top: 4px;
      padding: 0 !important;
    }
    a  {
      // text-decoration: none;
      color: #333;
    }
    em {
      padding-left: 2px;
    }
  }

  div.postcodes {
    position: absolute;
    bottom: -2px;
    right: 2px;
    color: #ddd;
    font-size: 10px;
    text-shadow: 0px 2px 2px #000;
  }

  div.others {
    color: #ddd;
    text-shadow: 0px 2px 2px #000;
    position: absolute;
    bottom: -2px;
    left: 2px;
    font-size: 10px;
    // text-align: center;
    // right: 0;
  }
}




.reload {
  display: none;
  position: absolute; 
  z-index: 10000; 
  left: 8px; 
  bottom: 8px;     
  background: rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 4px;
}

.reload button {
  margin: 4px;
  font-size: 1.2em;
  border: 0;
  font-weight: bold;
  color: #333;
  text-align: center;
  background: rgba(255,255,255,0.8);
  -webkit-border-radius: 4px;
}

