
div#meh:hover {
  cursor: pointer;
}

div#meh {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10000;
  pointer-events: none;

  // line-height: 3.4em;

  em {
    color: #777;
    font-style: normal;
  }

  .button {
    opacity: 1;
    color: #fff;
    font-weight: bold;
    font-style: normal;
    text-shadow: 1px 2px 2px rgba(0,0,0,0.8),
                 0px 0px 15px rgba(0,0,0,0.8);

    padding: 16px;
    display: block;
    // outline: 1px solid transparent;
    text-align: center;
    font-size: 20px;
  }

  > div#help_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50000;
    background: white;
    pointer-events: auto;

  }

  > div#help, > div#toggle {
    position: absolute;
    bottom: 0px;
    right: 0px;
    pointer-events: auto;
  }

  > div#locate {
    position: absolute;
    bottom: 0px;
    left: 0px;
    pointer-events: auto;
  }
  
  > div#bright_switch {
    width: 36px;
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 8px 8px 8px 9px;


    background-color: rgba(140,140,140,0.6);
    pointer-events: auto;

    div {
      width: 36px;
      height: 36px;
      position: relative;
      z-index: 99;
    }
    div#a {
      background: black url(/data/modes_bg.png) 0 0;
    }
    div#b { 
      background: gray url(/data/modes_bg.png) 0 144px;
    }
    div#c {
      background: #ccc url(/data/modes_bg.png) 0 72px;
    }

    div.selected {
      z-index: 100;
      // outline: 2px solid white;
      box-shadow:
        0 0 0 1px hsl(0, 0%, 100%),
        0 0 0 2px hsl(0, 0%, 20%);
    }
  }

  #progress {
    z-index: 20000;
    position: absolute;
    bottom: 60px;
    left: 10%;
    right: 10%;
    color: #eee;
    background: rgba(90,90,90,0.7);
    .message {
      position: absolute;
      left: 8px;
      top: 8px;
      font-size: 18px;
      z-index: 99999;
      text-shadow: 0px 2px 2px #000, 0px 0px 12px #000;
    }

    .wrap { 
      position: relative;
    }
    .bar {
      height: 36px;
      background: #fff;
    }
  }

}

div.leaflet-control-attribution {
  display: none !important;
}

div.leaflet-control-zoom {
  // .leaflet-control-zoom-out leaflet-control-zoom-in
  background: none; //rgba(140,140,140,0.5);

  > a {
    width: 32px !important;
    // height: 32px !important;
    background: rgba(140,140,140,0.5);
    border-radius: 0;
    color: #fff;
    // outline: 1px solid #000;
    opacity: 1 !important;
    text-decoration: none;
    font-size: 20px;
    padding: 12px 4px 12px 4px;
    text-align: center;
    text-shadow: 0px 2px 2px #000;
  }

  > a:active, a:hover {
    background: #333;
  }

}


  .leaflet-popup-content {
    line-height: 1.6em !important;
  }

  .leaflet-container .leaflet-control-attribution {
    font: 9px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif !important;
  }

  .leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background-color: rgba(255,255,255,0.8) !important;
    -webkit-box-shadow: 0 1px 14px rgba(0,0,0,0.5) !important;
    box-shadow: 0 1px 14px rgba(0,0,0,0.5) !important;
  }

  .leaflet-popup-content {
    padding: 0 !important;
  }

  .leaflet-container .leaflet-control-attribution {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  .leaflet-popup-content-wrapper {
    -webkit-border-radius: 4px !important;
    border-radius: 0 !important;
    padding: 0px 0 1px 0 !important;


    div.venue {
      position: relative;
      top: 8px;
      margin-left: -12px;
      margin-right: -12px;
      padding-left: 16px;
      // background: white;
      b  {
        -webkit-border-radius: 8px;
        border-radius: 8px;
        // border: 1px solid rgba(0,0,0,0.3);
        box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
        display: block;
        width: 8px;
        content: '';
        height: 8px;
        position: absolute;
        left: 0;
        top: 5px;
        padding: 0 !important;
      }
      a  {
        // text-decoration: none;
        color: #333;
      }
      em {
        padding-left: 2px;
      }
    }

    div.postcodes {
      position: absolute;
      bottom: -2px;
      right: 2px;
      color: #ddd;
      font-size: 10px;
      text-shadow: 0px 2px 2px #000;
    }

    div.others {
      color: #ddd;
      text-shadow: 0px 2px 2px #000;
      position: absolute;
      bottom: -2px;
      left: 2px;
      font-size: 10px;
      // text-align: center;
      // right: 0;
    }

  }
